:root {
  --ligh-gray-color: #dbdcdf;
  --white-bg: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  font-family: "Robotto", sans-serif;
  background-color: var(--ligh-gray-color);
}
a {
  text-decoration: none;
}
.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.dashboard {
  position: fixed;
  height: 100vh;
  background: var(--white-bg);
  box-shadow: 11px 0px 20px rgba(0, 0, 0, 0.1);
}
.movies {
  background: var(--ligh-gray-color);
  margin-left: 16rem;
  min-height: 100vh;
}
/* USER Wrapper */
.user-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-bottom: 1px solid var(--ligh-gray-color);
  padding: 2rem 4rem;
}
.user-img {
  width: 40px;
}
.user-name {
  font-size: 1rem;
  color: #706d6d;
}
.nav {
  padding: 3rem 4rem;
}
.nav__heading {
  color: #706d6d;
  margin-bottom: 2rem;
}
.types__nav {
  list-style: none;
}
.type__link {
  font-size: 1rem;
  color: #706d6d;
  margin-bottom: 1rem;
  cursor: pointer;
  padding-left: 0.5rem;
  font-weight: 700;
}

/* =========================== */
/* ==========Movies=========== */
/* =========================== */

.movies__header {
  padding: 2rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.movies__header--title {
  color: #706d6d;
  font-weight: 700;
}
input {
  font-family: inherit;
  color: #706d6d;
  font-size: 1rem;
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 1px solid #706d6d;
}
.movies__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding: 2rem 4rem;
}
.movie__card {
  max-width: 300px;
}
.movie__card--poster {
  border-radius: 5px;
  position: relative;
}
.movie__poster {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 1rem;
}
.rating {
  position: absolute;
  background-color: #fff;
  height: 40px;
  width: 40px;
  right: -20px;
  bottom: 40px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
.rating-count {
  color: #706d6d;
  font-weight: 700;
}
.movie__name {
  font-weight: 700;
  color: #706d6d;
  margin-bottom: 0.25rem;
}
.movie__genre {
  color: #706d6d;
  font-size: 0.75rem;
}

/* =========================== */
/* ========Single Movie======= */
/* =========================== */
.btn {
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  background-color: rgb(5, 61, 42);
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 10px;
  margin-bottom: 3rem;
}
.single_movie_poster {
  max-width: 400px;
  border-radius: 10px;
}
.movie-info {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 3rem;
}
.movie-title {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}
.movie-data {
  font-size: 1.2rem;
}
.movie-data > p {
  margin-bottom: 0.75rem;
  font-weight: 500;
}
.tagline {
  font-size: 1.2rem;
  font-style: italic;
  margin-bottom: 1rem;
}
span {
  font-weight: bold;
  font-style: normal;
  text-decoration: underline;
}
.overview {
  line-height: 1.6;
}
